# Example .gitignore file for your config dir
*
!*.yaml
!*.json
!*.conf
!*.sh
!*.save
!/custom_components/*
!/custom_components
!/themes/*
!/www
!/tts/*
!.*/
!.*/*/
!README.md
!.gitignore
!mysensors.json
secrets.yaml
known_devices.yaml
*.db

# When ready to update issue   git push -u origin master
